/*
* grid and cells
*/

.gameCell {
    transition-duration: 0.5s;
    transition: top 0s;
    transition: left 0s;
    transition: opacity 0.5s ease;

    position: absolute;
    border-radius: 10px;
    background-repeat: no-repeat;

    /*    display: inline-flex;
        align-items: center;
        justify-content: center;
    
        background: bisque;
        font-size: 200px;
        color: white;*/
}

#dummyCell {
    visibility: hidden;

    color: black;
    font-size: 75px;
}

#gameGrid {
    width: 700px;
    height: 700px;
    position: relative;
    font-size: 0;

    margin-bottom: 25px;
}

#gameGrid:hover .gameCell:not(.activeCell) {
    transition: opacity 0.5s ease;
    opacity: 0.35;
}

.activeCell {
    transition: opacity 0.5s ease;
}


/*
* below grid
*/

#game p {
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 50px;
}

#gameIsOn {
    height: 100px;
    width: 100%;

    color: #990;
}

#victory {
    height: 100px;
    width: 100%;

    color: #090;
}

#shuffleAmountSelect {
    height: 100px;
    width: 100%;

    color: #444;
}

#shuffleAmountSelect select {
    min-width:200px;
    min-height: 50px;
    border-width: 3px;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 25px;

    vertical-align: middle;
}