
.button {
    transition-duration: 0.5s;

    display: inline-block;
    padding: 10px 20px;
    margin: 10px;

    background: #AAA;
    color: #EEE;
    border-radius: 5px;
}

.button:hover {
    transition-duration: 0.5s;

    background: #DDD;
    color: #111;
    cursor: pointer;
}

.button:active {
    transition-duration: 0s;

    background: #FFF;
}

.imageButton {
    transition-duration: 0.5s;

    padding: 20px;
    width: 300px;
    height: 300px;

    border: transparent 1px solid;

    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 300px;
}

.imageButton:hover {
    transition-duration: 0.5s;

    /*border-left-color: #AAA;*/
    border-top-color: aqua;
}

.imageButton:nth-of-type(1){
    background-image: url('../res/1.jpg');
}

.imageButton:nth-of-type(2){
    background-image: url('../res/2.jpg');
}

.imageButton:nth-of-type(3){
    background-image: url('../res/3.jpg');
}

#homeContent {
    margin-top:20px;
    margin-bottom:15px;
}

#homeContent > * {
    display: inline-block;
}

/*#home {
    border-left: #DDD 1px solid;
    border-right: #DDD 1px solid;
}*/

#imageButtonContainer {
    display: flex;
}

#selectedImageButton {
    transition-duration: 0.5s;

    width: 320px;
    height: 320px;
    background-size: 320px;

    padding: 10px;
}

#gameGrid {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: auto auto auto;
    grid-gap: 2px;
}

.gameCell {
    transition-duration: 0.5s;
    
    border: #AAA 1px solid;
    border-radius: 10px;

    display : flex;
    align-items: center;
    justify-content: center;
}

#dummyCell {
    background: #DDD;
}
