@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 40px;

    color: #222;
}

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    position: relative;
    font-size: 75px;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    /*text-decoration: underline;*/
}

/*h1:after {
    content:'';
    display: block;
    width: 100%;
    border-bottom: 1px #444 solid;
}*/

p {
    margin: 10px 5px;
}