@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');

body {
    background-color: #171717;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 40px;

    color: #DDD;
}

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    position: relative;
    font-size: 75px;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    /*text-decoration: underline;*/
}

/*h1:after {
    content:'';
    display: block;
    width: 100%;
    border-bottom: 1px #444 solid;
}*/

p:not(:last-child) {
    margin-bottom: 10px;
}

a {
    transition-duration: 0.5s;
    display: inline-block;
    padding: 5px;

    border: 1px transparent solid;
    border-bottom-color: #DDD;
    border-radius: 0px;

    color: #DDD;
    text-decoration: none;
}

a:hover {
    transition-duration: 0.5s;
    border-color: #DDD;
    cursor: pointer;
}

select {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 40px;

    vertical-align: baseline;
    min-width: 200px;
    min-height: 50px;

    transition-duration: 0.5s;
    display: inline-block;
    padding: 10px 20px;
    color: #DDD;
    background-color: #171717;

    border: 1px transparent solid;
    border-bottom-color: #DDD;
    border-radius: 0px;
}

select:hover {
    transition-duration: 0.5s;
    border-color: #DDD;
    cursor: pointer;
}